<html xmlns:th="http://www.thymeleaf.org"> 
<!-- 销售商机 -->
<div id="sales">
  <div>
  <form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="请输入客户名称">
  </div>

  <div class="form-group">
	<select name="city" id="address" class="form-control">
		 <option value="">请选择所属地区</option>
        <option value="0">华中</option>
        <option value="1">华北</option>
        <option value="2">华南</option>
        <option value="3">华东</option>
	</select>
  </div>
  <input class="btn btn-default search" type="button" value="查询">
  <input class="btn btn-default" type="reset" value="重置">
  <input class="btn btn-default" type="button" value="新增" id="add">

</form>
</div>

<div>
	<table class="table table-hover">
		 <thead>
		    <tr style="background:#E8E8E8;">
		      <th>序号</th>
		      <th>客户名称</th>
		      <th>概要</th>
		      <th>联系人</th>
		      <th>联系电话</th>	
		      <th>商机指派</th>		 
			  <th>操作</th>
		    </tr> 
		  </thead>

		  <tbody th:each="chance:${session.chances}">
		    <tr>
		      <td th:text="${chance.id}">1</td>
		      <td th:text="${chance.customer}">李四</td>
		      <td th:text="${chance.title}">这是概要,概要</td>
		      <td th:text="${chance.linkman}">王五</td>
		      <td th:text="${chance.phone}">1897456</td>
		      <td th:text="${chance.handler.name}">指派啊</td>
		      <td>
		      	<i  class="layui-icon layui-icon-edit editUser"></i>  
		      	<i  class="layui-icon layui-icon-delete deleteUser"></i>   
		      </td>
		    </tr> 
         </tbody>
    </table>
</div>
<div class="fenye">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous"  th:if="${session.chances.hasPrevious()==false}"
	      style="color:#ABABAB">
	        <span aria-hidden="true">上一页</span>
	      </a>
	      <a href="#" aria-label="Previous" 
	      th:if="${session.chances.hasPrevious()==true}"
	      th:onclick="|selectPage(${session.chances.number-1})|">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    
	    <li th:each="num:${#numbers.sequence(1,session.chances.totalPages)}"
	    th:onclick="|selectPage(${num-1})|"
	    th:attr="class=(${session.chances.number}==${num-1}?'active':'')">
	    <a th:if="${num}!=0" href="#" th:text="${num}">1</a>
	    </li>
	    
	    <li>
	      <a href="#" aria-label="Next" th:if="${session.chances.hasNext()==false}"
	      style="color:#ABABAB">
	        <span aria-hidden="true">下一页</span>
	      </a>
	      <a href="#" aria-label="Next" th:if="${session.chances.hasNext()==true}"
	     th:onclick="|selectPage(${session.chances.number+1})|">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>
<!-- 删除模态框 -->
<div class="modal" id="deleteModal">
  <div class="modal-dialog"  style="width:350px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">是否确定删除</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<!-- 新增模态框 -->
<div class="modal"  id="toAdd">
  <div class="modal-dialog" style="height:400px;overflow:auto;">
    <div class="modal-content">
       <form>
					<div class="modal-body">
						<div class="form-group">
							<label>商机来源:</label>
							<input type="text" name="source"  class="form-control">
						</div>
						<div class="form-group">
							<label>客户名称:</label>
							<input type="text" name="customer" class="form-control">
						</div>
						<div class="form-group">
							<label>成功几率:</label>
							<input type="text" name="rate" class="form-control">
						</div>
						<div class="form-group">
							<label>商机概要:</label>
							<input type="text" name="title" class="form-control">
						</div>
						<div class="form-group">
							<label>所属地区:</label>
							<select name="address" id="" class="form-control">
								<option>请选择所属地区</option>
						        <option value="0">华中</option>
						        <option value="1">华北</option>
						        <option value="2">华南</option>
						        <option value="3">华东</option>
							</select>
						</div>
						<div class="form-group">
							<label>联系人:</label>
							<input type="text" name="linkman" class="form-control">
						</div>
						<div class="form-group">
							<label>联系电话:</label>
							<input type="text" name="phone" class="form-control">
						</div>
						<div class="form-group">
							<label>创建人:</label>
							<input type="text" name="" class="form-control"  th:value="${session.user.name}" readonly="readonly">
							<input   type="hidden" name="creator_id"   th:value="${session.user.id}">
						</div>
						<div class="form-group">
							<label>处理人:</label>
							<select name="handler_id" id="" class="form-control">
								<option value="">请选择处理人</option>
						      	<th:block th:each="user1:${session.users}">
						      		  <option th:value=${user1.id} th:text=${user1.name}>jingli1</option>
						      	</th:block>
						     
							</select>
						</div>
						<div class="form-group">
							<label>商机描述:</label>
							<input type="textarea" name="description" style="height:60px" class="form-control">
						</div>
					</div>
				</form>
				<div class="modal-footer">
				    <button class="btn" style="background:#ccc">取消</button>
					<button class="btn" style="background:#ccc">保存</button>
				</div>
    </div>
  </div>
</div>

</div>
<style>
#sales{
	width: 1140px;
	overflow: hidden;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #ccc;
    border-color: #ccc;
}
.pagination > li > a, .pagination > li > span {
    color: black;
}
.fenye{
	margin-left: 400px;
}
	.form-inline{
		margin-top: 15px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.search{
		margin-left: 50px;
	}
	#add{
		margin-left: 560px;
	}
	.table th,td{
		text-align: center;
	}
	#deleteModal{
		margin-top: 100px;
	}
	#toAdd{
		margin-top: 50px;
	}
</style>
<script type="text/javascript">
	function selectPage(num){
		$("#sales").load("selectPage",{index:num})
	}
	$(function(){
		// 显示删除模态框
		$('.deleteUser').click(function(){
			$('#deleteModal').show();
			n = $(this).parent().parent().children().first().text().trim();
		})
		// 关闭删除模态框
		$('.close').click(function(){
			$('#deleteModal').hide();
		})
		// 关闭删除模态框
		$('.btn-default').click(function(){
			$('#deleteModal').hide();
		})
		// 确定删除
		$('.btn-primary').click(function(){
			$('#deleteModal').hide();
			$.post("deletechance",{id:n},function(data){
				alert(data);
				$('#sales').load("toSales");
			});
		})
		// 点击新增显示模态框
		$('#add').click(function(){
			$('#toAdd').show();
		})
		// 新增模态框关闭
		$('button:contains(取消)').on('click',function(){
			$('button[type=reset]').trigger('click');
				$('#toAdd').hide();
		})
		// 新增模态框保存
		$('button:contains(保存)').on('click',function(){
				$('#toAdd').hide();
				var source = $("input[name=source]").val();
				var customer = $("input[name=customer]").val();
				var rate = $("input[name=rate]").val();
				var title = $("input[name=title]").val();
				var address = $("select[name=address] option:selected").text();
				var linkman = $("input[name=linkman]").val();
				var phone = $("input[name=phone]").val();
				var creator_id = $("input[name=creator_id]").val();
				var handler_id = $("select[name=handler_id] option:selected").val();
				var description = $("input[name=description]").val();
				var status = "待处理";
				$.post("getchance",{source:source,customer:customer,rate:rate,title:title,address:address,linkman:linkman,phone:phone,creator:creator_id,
					handler:handler_id,description:description,status:status,id:id},function(data){
					alert(data);
					$('#sales').load("toSales");
				})
				
		})	
		// 点击编辑显示模态框
		$('.editUser').click(function(){
			$('#toAdd').show();
		
			id=$(this).parent().parent().children().first().text().trim();
			$.post("getchanceById",{id:id},function(data){
				$("input[name=source]").val(data.source);
				$("input[name=customer]").val(data.customer);
				$("input[name=rate]").val(data.rate);
				$("input[name=title]").val(data.source);
				$("select[name=address]").val(data.address);
				$("input[name=linkman]").val(data.linkman);
				$("input[name=phone]").val(data.phone);
				$("select[name=handler_id]").val(data.handler.id);
				$("input[name=description]").val(data.description);
			});
		})
		// 查询
		$('.search').click(function(){
			n = $("#address option:selected").text();
			n1 = $("#address option:selected").val();
			m = $("#exampleInputEmail3").val();
			if(n.trim()=="请选择所属地区"){
				if(m.trim()==""){					
				alert("请选择");
				}else{
					$('#sales').load("toSales",{customer:m});
				}
			}else{
				if(m.trim()==""){					
					$('#sales').load("toSales",{address:n});
					}else{
						$('#sales').load("toSales",{customer:m,address:n});
					}
			}
		})
		$("input[type=reset]").click(function(){
			$('#sales').load("remove",function(){
				$('#sales').load("toSales");
			});
		});
	})
</script>
</html>